.App{
    text-align: right;
}

.result{
    height: 60px;
    background-color: rgb(194, 243, 255);
    width: 390px;
    font-size: 30px;
    border: 2px solid #111;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.keypad{
    height: 200px;
    width: 400px;
    margin-left: 10px;
}
.keypad button{
    width: 100px;
    height: 50px;

}