#weather-container{
    text-align: center;
    font-size: 40px;
 
}

.unit{
    text-align : right;
    font-size: 20px;
    
}

.About12{
    text-align: left;
}

.About12 ul{
    text-align: left;
}
.About12 ul li{
    text-align: left;
}